/* 1. exercice-flex */
.exercice-flex .container {
  display: flex;
}

/* 2. exercice-direction-1 */

/* 3. exercice-direction-2 */
.exercice-direction-2 .container {
  display: flex;
  flex-direction: column-reverse;
}

/* 4. exercice-direction-2 */
.exercice-direction-3 .container {
  display: flex;
  flex-direction: row-reverse;
}

/* 5. exercice-wrap-1 */

/* 6. exercice-wrap-2 */

/* 7. exercice-wrap-3 */

/* 8. all-in */

